.row
  .large-12.columns
    h1 About
    p This is an app created for <a href="http://codeforthekingdomnashville.org/" target="_blank">Code for the Kingdom - Nashville (2017)</a>
    p The repository for the app is on <a href="https://github.com/mellowfish/c4tk" target="_blank">Github</a></p>
    p Expect this page to change as the app gets developed.